
<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>

		  <div class="col-lg-6" id="filter-input">
		    <input type="text" class="form-control" placeholder="Filter" ng-model="searchInput">
		  </div><!-- /.col-lg-6 -->

		<div class="col-lg-4"></div>

	</div>

	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8">
			<div class="list-group" id="hero-list">

			  <a href="#/hero/{{person.id}}" class="list-group-item" ng-repeat='person in filteredHero | filter:searchInput'>
				<img ng-src="{{person.imgUrl}}" alt="..." class="img-circle">
				<div class="quick-info">
					<h4 class="list-group-item-heading">{{person.heroName}}</h4>
			   		 <p class="list-group-item-text">{{person.firstName}} {{person.lastName}}</p>
				</div>
				<div class="fave pull-right">
					<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-primary" >
					    <input type="checkbox">Favorite
					  </label>
					</div>
				</div>
			  </a>

			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>