<input type="text" ng-model='searchInput' placeholder="Search">
<button id='show-modal'>Add!</button>
<div id="tabs">
	<ul>
		<li ng-class="{true : 'active', false : ''}[isActive('/all') == true]"> <a href="#all"> <span> All </span> </a> </li>
		<li ng-class="{true : 'active', false : ''}[isActive('/favorites') == true]"> <a href="#favorites"> <span> Favorite </span> </a> </li>
		<li ng-class="{true : 'active', false : ''}[isActive('/non-favorites') == true]"> <a href="#non-favorites"> <span> Non-Favorite </span> </a> </li>
	</ul>
</div>

<ul id="cards-container">
	<li class='profile-card' ng-repeat='person in filteredHero | filter:searchInput'>
		<div id='profile' class='col-2'><img ng-src="{{person.imgUrl}}" alt=""></div>
		<div id="profile-contents" class='col-5'>
			<table>
				<tbody>
					<tr>
						<td>First Name :</td>
						<td>{{person.firstName}}</td>
					</tr>
					<tr>
						<td>Last Name :</td>
						<td>{{person.lastName}}</td>
					</tr>
					<tr>
						<td>Hero Name :</td>
						<td>{{person.heroName}}</td>
					</tr>
				</tbody>
			</table>

		</div>
		<div id='fave-icon' class='col-2' >

			<!-- <a href=""> -->
				<i class="fa fa-star" ng-class="{true : 'isFave', false : ''}[person.flagged==true]" ng-click='toggleFave()'></i>
			<!-- </a> -->
			<a href="#/hero/{{person.id}}" class="btn-active">View!</a>
		</div>

	</li>
</ul>