<div class="container" ng-repeat='hero in person'>
	<div class="col-2 left">
		<div id="img-container">
			<img ng-src="{{hero.profileImg}}" alt="">
		</div>

	</div>
	<div class="col-3 left bound">
		<div class="profile-header">
			<h2>{{hero.HeroName}}</h2>
		</div>
		<div class='profile-details'>
			<table>
				<tbody>
					<tr>
						<td> First Name : </td>
						<td> {{hero.FirstName}} </td>
					</tr>
					<tr>
						<td> Last Name : </td>
						<td> {{hero.LastName}} </td>
					</tr>
					<tr>
						<td> Date Of Birth : </td>
						<td> {{hero.Born}} </td>
					</tr>
					<tr>
						<td> Species : </td>
						<td> {{hero.Species}} </td>
					</tr>
					<tr>
						<td> Contact : </td>
						<td>  {{hero.Email}}  </td>
					</tr>
					<tr>
						<td> Abilities : </td>
						<td> <p>{{hero.Abilities}}</p>  </td>
					</tr>
					<tr>
						<td> Origins : </td>
						<td> <p>{{hero.Origin}}</p>  </td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div class="col-4 left">

		<div id="selected-image">
			<div class="img-show">
				<img ng-src="{{selectedImage}}" alt="">
			</div>
		</div>
		<div id="image-list">
			<ul >
				<li ng-repeat='images in hero.imageUrl'>
					<a href=""><img ng-src="{{images}}" ng-click="setImage( images )" alt=""></a>
				</li>
			</ul>
		</div>
	</div>
</div>