<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<div id="profile-card">
				<div class="profile-cover"></div>
				<div class="profile-img"></div>
				<div class="quick-profile-info"></div>
			</div>
			<div id="additional-info"></div>
			<div id="comment-section">
				<div class="comment"></div>
				<div class="comments"></div>
			</div>
		</div>
		<div class="col-lg-5">
			<div id="main-info">
				<div class="user-img">
					<h2>Batman's Photos(12)</h2>
					<div class="selected-img">
						<img src="/resources/img/default-img.jpg" alt="">
					</div>

					<ul class="user-img-list">
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
						<li>
							<img src="/resources/img/default-img.jpg" alt="">
						</li>
					</ul>
				</div>
				<div class="user-info">
					<table class="table table-responsive">
						<thead>
							<tr class="info">
								<td>
									<h4>About Batman</h4>
								</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Hero Name :</td>
								<td>asd</td>
							</tr>
							<tr>
								<td>First Name :</td>
								<td>asd</td>
							</tr>
							<tr>
								<td>Last Name :</td>
								<td>asd</td>
							</tr>
							<tr>
								<td>Birth date :</td>
								<td>asd</td>
							</tr>
							<tr>
								<td>Species :</td>
								<td>asd</td>
							</tr>
							<tr>
								<td>Email Address:</td>
								<td>asd</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

</div>